<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            First Server in EJS 
        </title> 
    </head>

    <body>

            <%
            include partials/navigation.ejs
        
        %>
            <h1> Hello World express+EJS !!!</h1>

          
    </body>

</html>